<form #phoneForm="ngForm" novalidate>
	<div>
		<h4 class="head text-center">{{title}}</h4>
		<br/>
		<div class='row'>
			<div class="form-group">
				<label class="control-label" for="mobilePhone">Mobile Phone</label>
				<input class="form-control input-md" #mobilePhone="ngModel" required name="mobilePhone" type="tel" placeholder="mobilePhone" [(ngModel)]="phone.mobilePhone">
				<div class="alert alert-danger" [hidden]="mobilePhone.valid">Mobile Phone is required</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="homePhone">Home Phone</label>
				<input class="form-control input-md" #homePhone="ngModel" required name="homePhone" type="tel" placeholder="homePhone" [(ngModel)]="phone.homePhone">
				<div class="alert alert-danger" [hidden]="homePhone.valid">Home Phone is required</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="emergencyContactOnePhone">Emergency Contact Phone One</label>
				<input class="form-control input-md" #emergencyContactOnePhone="ngModel" required name="emergencyContactOnePhone" type="tel" placeholder="emergencyContactOnePhone" [(ngModel)]="phone.emergencyContactOnePhone">
				<div class="alert alert-danger" [hidden]="emergencyContactOnePhone.valid">Emergency Contact Phone One is required</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="emergencyContactTwoPhone">Emergency Contact Phone Two</label>
				<input class="form-control input-md" #emergencyContactTwoPhone="ngModel" required name="emergencyContactTwoPhone" type="tel" placeholder="Postal Code" [(ngModel)]="phone.emergencyContactTwoPhone">
				<div class="alert alert-danger" [hidden]="emergencyContactTwoPhone.valid">Emergency Contact Phone Two is required</div>
			</div>

		</div>
        <div class="row">
            <div class="form-group text-center">
                <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!phoneForm.valid" (click)="goToNext(phoneForm)"> Next</button>
            </div>
        </div>
	</div>
</form>
