<h1>FAQ</h1>

<hr>

<div class="">
  <div>
    <h5>What should I wear sailing?</h5>
    <p>First, you need non-marking no slip shoes. It is a good idea to cover your
      toes on a sailboat, so open-toed sandals should be avoided. Wear a hat,
      bring a polar fleece jacket and a windbreaker. It's always colder on the
      water! Sunscreen is another must have. Use it!</p>
  </div>
  <div>
    <h5>What study should I do to prepare?</h5>
    <p>Learn your basic terminology of a sailboat structure, of the sails and
      of the lines involved. It is like a foreign language, and if you have
      already some idea of what things are called, you will progress much more
      quickly. Learn some basic knots and PRACTICE them! Reef knot, bowline,
      clove hitch, figure eight knot and belaying (securing) to a cleat are all
      necessary. Check our website links to other sites which help explain some
      of these things.</p>
  </div>
  <div>
    <h5>When do I start practical training?</h5>
    <p>We usually try to have a few classroom sessions in March and early April.
      By then, the weather has warmed up and trainers will take you out for
      practical sailing experience.</p>
  </div>
  <div>
    <h5>Is there a test to become a sailing skipper?</h5>
    <p>Yes. In order to be allowed to skipper one of our boats for day sailing in
      Semiahmoo Bay, you must have been recommended by your trainer as ready to
      be tested and then you must prove your ability by sailing with our Training
      Officer who will test you on your skills and knowledge.</p>
  </div>
  <div>
    <h5> How much time do I have to do these courses?</h5>
    <p>Since we are only training you to sail our own boats, the minimum you
      must have before you begin is the PCOC. The rest should be done as soon
      as practicable. Our training usually take three to four months, depending
      on your experience and aptitude. Some people are done in weeks, others
      prefer a more laid back approach.</p>
  </div>
  <div>
    <h5> What sort of courses should I be taking?</h5>
    <p>Even though we will train you to sail our boats, you will still need some
      basic courses. All sailors must have a Canadian Pleasure Craft Operators
      Card (PCOC). You should also consider taking either Canadian Yachting
      Association Basic Cruising or International Sail and Power Academy Day
      Skipper courses. Canadian Power and Sail Squadron "Basic Boating" is also
      a good course to take. You will also need to have a Restricted Radio Operators'
      Certificate (Maritime) for operating the VHF radio.  These certificates are not
      included in your membership fees and will cost extra.</p>
  </div>
  <div>
    <h5>Who do I talk to about the training that I need?</h5>
    <p>Start by speaking to the Training Co-ordinator. He/she will be able to give
      you the times for classroom training and organize with you for
      on-the-water training with a training skipper.</p>
  </div>
  <div>
    <h5>Where do I find the information about training requirements?</h5>
    <p>There is a Training menu on the members page, with links to various aspects
      of training. This is a good place to start.</p>
  </div>
  <div>
    <h5>Where can I find more information about sailing in the co-op?</h5>
    <p>New members can explore the website. It is full of information and is
      being updated regularly. Ask another member, they will be more than happy
      to answer your questions.</p>
  </div>
  <div>
    <h5>How do I book a boat?</h5>
    <p>New members will be given access to the Online Booking System, with their
      own password. Training on the booking system will be done as well in a
      classroom session.</p>
  </div>
  <div>
    <h5>When can I go see the boats?</h5>
    <p>New members will be given the code to the gatehouse, and are encouraged
      to go down on their own and look over the boats. They are also encouraged
      to book a boat and spend time exploring, opening hatches and lockers and
      spend some time reading the binder on board which will contain information
      about the club, the boat and sailing.</p>
  </div>
  <div>
    <h5>When can I go sailing?</h5>
    <p>A new member will be given access to the members' area of the website,
      and the best way to go sailing is to contact other members on the membership
      list and ask! Most of us would rather go sailing for the afternoon than mow
      the grass or do other chores.  A trainer will be assigned to you, your new
      group will consist of 3 plus a trainer and between the four of you, you
      will make your training dates.</p>
  </div>
  <div>
    <h5>When can I meet other members?</h5>
    <p>All guests and new members are welcome at our monthly meetings at the
      Rotary Field House in South Surrey Athletic Park, held every third Thursday
      of each month, except July, August and December. As a new member, the best
      way to meet others (and be offered opportunities to go sailing) is to come
      out and help with boat maintenance. The Preventative Maintenance day is
      scheduled every third Saturday of each month, from 08:00 to 11:00 hours
      at the end of the White Rock Pier.</p>
  </div>
  <div>
    <h5>I’m a new member. Now What?</h5>
    <p>New members will be telephoned by our Membership Officer. You will be
      given website passwords to explore the members area of the website, which
      contains lots of good information about the operation of our club. You
      will also be contacted by a Training Officer to set up your training. This
      requires classroom training as well as the on-the-water training.</p>
  </div>
  <div>
    <h5>We are a couple. Do you offer a discount for couples?</h5>
    <p>No, sorry. Our goal is to keep our membership fees low and provide the
      best sailing experience in the Lower Mainland. C-operative sailing is the
      best deal you will find and you get the added bonus of 100 plus friends to
      call up and sail with you!</p>
  </div>
  <div>
    <h5>On your membership application you offer full, associate and social
      memberships. Can I join as an associate my first year?</h5>
    <p>No. Associate membership is only for full members who would like to take a
      break, but do not want to undergo the full training and initiation again.</p>
  </div>
  <div>
    <h5>I have never sailed. Can I join your Co-Op?</h5>
    <p>Yes, absolutely! We will train you to sail our boats on Semiahmoo Bay.</p>
  </div>
  <div>
    <h5>Do you offer introductory sailing with a member or trainer?</h5>
    <p>The answer is a qualified "Yes" depending on availability of a skipper.
      Contact our Membership Officer and ask.</p>
  </div>
</div>
