#bg1{
    background-image: url('assets/images/boat.jpg');
    padding-bottom: 10em;
    padding-top:10em;
    /* display: inline-block; */
        position: relative;
       margin-left: 20px;
       margin-right:20px;
       background-repeat: no-repeat;
       background-size: 100% 100%;

       max-width: 100%;
       max-height: 100vh;
       height: auto;
}
   
div.form-group{
    /* display: inline-block;
    text-align: center; */

     width:500px;
     margin:0 auto;
     position: relative;
     zoom: 1;
     filter: alpha(opacity=50);
     opacity: 0.5;
     margin-left:50em;
    
 
}
#title{
  
   font-size:150px;
   font-weight: strong;
   color: white;
   /* position:relative;
   display:block; */
   margin-left:50px;
   zoom: 1;
   filter: alpha(opacity=50);
   opacity: 0.5;
 
}
/* div.button{

    width:500px;
     margin:10em;
     margin-left:20em;
     padding-top:10em;
} */


.wrapper {
    text-align: center;
}

.button{
    margin:0 auto;
    position: relative;
    background-color:#328BB9;
    color: #fff;
    /* border-radius: 10px; */
    border-color: #328BB9;
    font-size: 1.2em;
    margin-left:35em;
    
}