<form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
	<h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

	<div class="form-group">
		<label for="email" class="sr-only">Email address</label>
		<input type="email" id="email" formControlName="email" class="form-control" placeholder="Email address" required>

		<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
			<div *ngIf="email.errors.required">
				<p>Email is requried</p>
			</div>
			<div *ngIf="email.errors.pattern">
				<p>Email is not valid</p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="sr-only">Email address</label>
		<input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>

		<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
			<div *ngIf="password.errors.required">
				<p>Password is requried</p>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="loginForm.invalid" type="submit">Sign In</button>
</form>
