<div class="bg-no-overlay">
  <div>
    <h1>Rules and Regulations</h1>
  </div>
</div>

<div class="container">
  <h2>Boat Reservation Rules and Conditions</h2>

  <br>

  <strong>February 2017</strong>

  <p>Based on our history and function as a Co-operative, the LMYC Boat Reservation Rules and Conditions are intended to clarify
    and fairly regulate the booking system and usage of our vessels while recognizing the varied levels of sailing skills
    and knowledge of our Members along with available sailing time and the diversity of our vessels.</p>

  <p>These Rules and Conditions attempt to maximize and balance usage of and access to our vessels. Our goal is for Members
    to feel that they have been treated fairly and have received full value for dues and contributions of time and/or skills.
  </p>

  <p>These Rules and Conditions cannot possibly cover all situations. Members are reminded to continue to resolve matters (as
    per our club tradition) courteously and co-operatively, asking: ‘Are we treating others as we would have them treat us’.
    Assistance from the Executive should only be sought if all other attempts to resolve issues have failed.</p>


  <p>As a Co-operative, Skippers are encouraged to invite other LMYC members (Full, Associate or Social) to join them if space
    is available aboard a vessel (subject to the skipper and/or the invitees having sufficient ‘sailing hours’ available).
    While not specifically prohibited, solo pleasure sailing is discouraged.</p>


  <strong>Rules and Conditions</strong>

  <ol>
    <li>These Boat Reservation Rules and Conditions replace all previous rules and conditions relating to the booking of LMYC
      vessels and allotted member hours of usage.</li>

    <li>A person reserving an LMYC vessel shall designate the Skipper who must be a Full Member of the Co-op in good standing
      at the time of reservation (a “Member”) and meet the qualification levels required at the time by the LMYC relative
      to the vessel and its usage.

      <ol type="a">
        <li>Each LMYC Full member is required to perform a minimum of 20 hours volunteer hours per year and of that minimum,
          10 volunteer hours must be completed by June 1st in performing boat maintenance during the annual spring haul-out.</li>

        <li>Members who do not fulfill their obligation as stated in 2a will have their LMYC membershp put on probation (not
          in good standing) and boat priviledges will be revoked.</li>

        <li>Members who have had their LMYC membership put on probation and boat privileges revoked will be reinstated to normal
          Full status (in good standing) upon the Executive Committee being satisfied that the probationary member has completed
          the required 10 boat hours.</li>
      </ol>
    </li>
    <li>
      <u>No Member shall use a LMYC vessel without a proper reservation.</u>
      Any Member planning on using a LMYC vessel must reserve it in advance using the LMYC reservation system (Members conducting
      maintenance shall similarly make the appropriate notations in the reservation system).</li>
    <li>Unless stated otherwise by the Executive, reservations of LMYC vessels shall commence at 1200 hours on March 1st each
      year. No Member shall make a reservation beyond the end of February in the following year. Membership commences Feb
      1st of each year. Only Members that have paid dues to continue Full Membership shall be permitted to have boats booked
      after Jan 31st.</li>
    <li>
      <p>A Member must include the following with his/her reservation information:</p>
      <p>The Skipper’s name and designation ( i.e. Day Skipper or Cruise Skipper)</p>
      <ul>
        <li>All crew & guest names</li>
        <li>Proposed sailing dates and times</li>
        <li>During the months of June, July and August (“High Season”) a calculation/ breakdown of the hours to be attributed
          to that Member and/or other Members sailing with him/her</li>
        <li>If cruising overnight, a sailing plan including proposed destinations, estimated departure and arrival time, and
          cell phone number should be created and filed with an emergency contact (family member or friend) on shore. LMYC
          is not responsible for following up on sailing plans, or reviewing trip plans listed on the online booking system,
          or coordinating search and rescue efforts.</li>
        <li>If possible, a cellular phone number where the Member can be contacted before, during and after the sail.</li>
      </ul>
    </li>
    <li>Members shall return key to the lockbox immediately on return to the dock. No member shall use maintenance keys or other
      specially designated keys for sailing purposes also</li>
    <li>Members shall return the boats on time (as per the reservation). Members who are delayed, shall make their best effort
      to contact the Member(s) who have the boat reserved next.</li>
    <li>If a Member who has reserved a boat is more than one hour late, the reservation will be considered cancelled, and any
      other qualified Member of the LMYC may then book the boat after making their best efforts to contact the Member who
      made the original reservation.</li>
    <li>Members shall return the boats clean and tidy inside and out, with the holding tank emptied and rinsed.</li>
    <li>If boat equipment or sails are in need of repair before the boat can be taken out again, Members shall:
      <ol>
        <li>Report the deficiencies in the maintenance log aboard the vessel</li>
        <li>Return the keys to the key box and place an “out of service” tag over them</li>
        <li>Make an “out of service” notation in the reservation system</li>
        <li>Inform the maintenance leader for that vessel</li>
        <li>Make their best effort to inform the Member(s) who have the boat reserved next.</li>
      </ol>
    </li>
    <li>During the High Season (June, July and August), Members may only use LMYC vessels to a maximum of 320 sailing or berth
      hours as calculated below and shall have no more than three bookings at any given time, such bookings to not exceed
      10 days in total, except as set out in paragraphs 15, 26 and 27 (including but not limited to: training, day-sailing,
      cruising, racing, club cruises, cruising in Desolation Sound etc.)</li>
    <li>
      <p>To calculate a Member’s sailing hours during the High Season, the following shall apply:</p>
      <p>White Swan and Y-Knot shall be considered to have 6 berths and shall be booked only by designated Cruise Skippers that
        have completed the Diesel Course and WS Orientation, even for day sailing.</p>
      <ul>
        <li>Peak Time shall be considered to have 4 berths</li>
        <li>Lightcure shall be considered to have 4 berths</li>
        <li>Pegasus shall be considered to have 4 berths</li>
        <li>Sharqui shall each be considered to have 4 berths.</li>
        <li>Frankie and Luana shall be considered to have 4 berths each and are designated as day sailing boats, except with
          permission from the Executive (e.g. for the May long weekend club cruise).</li>
      </ul>
    </li>
    <li>For sailing in High Season, a Member will be charged 1 sailing hour per berth on any given vessel (10 hours per day per
      berth Monday to Friday and 15 hours per berth on Saturday, Sunday and Statutory Holidays [1]), with the exception that
      day-sailing hours will be calculated on a pro-rata basis [2].</li>
    <li>During High Season, whether or not a Member’s 320 sailing hours have been used or allocated, a Member may reserve a boat
      for up to 24 hours, provided that 24 hours prior to the proposed departure, the boat is not booked (the “24 Hour Rule”).
      The hours sailed under the 24 Hour Rule will not count towards the 320 sailing hours of the Member or crew. A Member
      wishing to use and rely on the 24 Hour Rule shall make such notation in the reservation system. Failure to do so may
      result in the hours being allocated to that Member [3]</li>
    <li>Associate and Social Members are not entitled to any sailing hours but may be invited as guests of Full Members.</li>
    <li>During High Season, Members shall not sail as skipper or crew on any one vessel exceeding 10 consecutive days in duration.</li>
    <li>Members shall return all boats by 1800 hours the night before a scheduled club cruise or by at least one hour before
      a scheduled race in order to allow loading and/or rigging.</li>
    <li>In consideration of other Members, any Member planning to “preload” prior to a reserved cruise shall do so after dusk,
      otherwise the Member shall be charged with that day as being part of his/her cruise.</li>
    <li>If a Member is unable to use a boat as reserved, (s)he must cancel the reservation at their earliest opportunity so that
      other Members may have access to the boat. The Member should notify the Communications Officer, who will in turn notify
      the membership of the boat’s availability.</li>
    <li>During High Season, Members wishing to cancel their reservations must do so at least 14 days ahead of the scheduled departure
      time or find another Member to fill the slot, otherwise (s)he will be charged with the sailing hours associated with
      the original reservation.</li>
    <li>While it is expected that skippers will try to arrange for all berths to be filled on cruises outside of High Season
      there will be no penalty for failing to do so.</li>
    <li>During High Season Members shall not pre-book more than three weeks in advance for day-sailing.</li>
    <li>No Member shall cruise overnight on a day-sailing vessel unless specifically permitted by the Executive.</li>
    <li>
      <p>In addition to the other rules and conditions contained herein, the following specific Rules and Conditions govern
        the booking of cruises in Desolation Sound (DS):</p>
      <ul>
        <li>Members wishing to book a cruise in DS shall do so through the Director for DS Cruising (the “DS Director”).</li>
        <li>Bookings for DS shall commence at 1200 hours on March 1st in each year.</li>
        <li>Members must present an application plus a deposit to the DS Director (The deposit is to cover the cost of mooring
          the boat at Lund should the Member cancel the cruise and is unable to find a replacement. If the boat is taken
          sailing as planned, the deposit will be returned.).</li>
        <li>Members must be Cruise Skippers and must demonstrate the appropriate qualifications to the DS Director (subject to
          any review by the Executive) before being allowed to reserve a cruise in DS, including, but not limited to, navigational
          skills particular to the DS area.</li>
        <li>Dates of preference will be addressed on a first come, first serve basis subject to the discretion of the DS Director
          and any review by the Executive.</li>
        <li>Normally, bookings for DS run from 1200 hours on Saturday at Lund to 1200 hours Saturday at Lund. Members, may however,
          “split weeks” in DS at the discretion of the Director.</li>
        <li>The skipper is responsible for the vessel in DS until another skipper takes possession of it, including ordinary
          maintenance. Any significant maintenance issues must be reported to the Maintenance Director and it is expected
          that the Member in DS will assist in whatever fashion is reasonably possible as recommended by the Maintenance
          Director.</li>
        <li>If the ‘new’ skipper in not at the dock by 1200 hours on the Saturday as planned for the exchange, the old skipper
          must arrange secure mooring for the vessel and shall notify the DS Director as soon as possible and receive instructions
          as to what to do with the keys etc. (Members should ensure that they are early to both drop off & pick up).</li>
        <li>Any questions about responsibility for Lund moorage payments shall be resolved by paying the Lund Wharfinger, retaining
          receipts, and working out the details through the DS Director at a later date.</li>
        <li>Members shall return the vessel in “better” condition that it was received. It must be clean and tidy inside and
          out, including but not limited to: head, cabin, V-berth, quarter-berths, storage areas, cooler, floor, sink, cups,
          dishes and eating utensils. The holding tank must be emptied and rinsed.</li>
      </ul>
    </li>
    <li>Members who are instructing, conducting maintenance or are involved in promotional, public relations or other activities
      authorized by the Executive will not be charged sailing hours during these events. Trainees on Training Cruises shall
      be charged only one berth per hour, as they do not have the prerogative of choosing either their boat or how many people
      are on the boat. Club Cruise Skippers shall be charged regular berth hours even if they are acting as trainers on that
      cruise. Club Cruise attendees shall be charged regular berth hours. Guest or Social or Associate Member berth hours
      shall be charged to the Full Member they are accompanying as a guest.</li>
    <li>Exceptions to these Rules and Conditions are, where appropriate, subject to the discretion of the Executive [4].</li>
    <li>Any Member failing to comply with these Boat Reservation Rules and Conditions may have his/her Membership privileges
      suspended or revoked.</li>
  </ol>
<hr>
  <strong>Footnotes</strong>
  <ul id="footnotes">
    <li>
      <p>[1]: For example, if a Member takes out 5 berth boat on a 4 day cruise from Thursday to Sunday during High Season (without
        other Members aboard) he or she would be charged as follows:</p>
      <ul>
        <li>Thursday 10 hours x 5 berths (50 berth-hours)</li>
        <li>Friday 10 hours x 5 berths (50 berth hours)</li>
        <li>Saturday 15 hours x 5 berths (75 berth-hours) and Sunday 15 hours x 5 berths (75 berth hours)</li>
        <li>For a total of 250 berth-hours. By comparison, the same trip on Peak Time would use 200 berth-hours.</li>
      </ul>
    </li>
    <li>
      <p>[2]: For example, if a Member takes out Frankie (a 4 berth boat) on a 5 hour sail on a regular weekday in High Season,
        (without other Members aboard), he or she will be charged as follows:
        <span class="text-muted">5 hours x 4 berths = 20 berth-hours.</span>
      </p>
    </li>
    <li>
      <p>[3]: We want to ensure Members who have not exceeded 320 sailing hours (berth-hours) receive priority over those who
        have. At the same time, we do not wish to see the boats sitting idle.</p>
    </li>
    <li>
      <p>[4]: The LMYC recognizes that these Rules and Conditions are to serve our membership and not the reverse. There are
        undoubtedly going to be situations where flexibility is required and decisions will need to be made in the interest
        of the Co-op to address specific concerns, conflicts or problems.</p>
    </li>
  </ul>
</div>