ul, ol {
  padding-left: 20px;
}

ul li, ol li {
  margin: 10px 0px;
}

#footnotes {
  list-style-type: none;
}

@media screen and (min-width: 1024px) {
  ul, ol {
    padding-left: auto;
  }
}

.bg-no-overlay {
  background: url('assets/images/rules.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 350px;
  padding-top: 50px;
}
