<div class="bg-no-overlay">
  <div>
    <h1>About Us</h1>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Organization</h2>

  <div class="row">

    <div class="col-md-4">
      <img class="clubimg1" src="assets/images/club1.jpg">
    </div>
    <div class="col-md-4">
      <p>The Lower Mainland Yacht Cooperative (LMYC) is a provincially registered and regulated non-profit organization, which
        is owned and operated by its members. LMYC is governed by the British Columbia Co-operative Act.</p>
      <p>The
        <strong>mission</strong> and
        <strong>purpose</strong> of the Lower Mainland Yacht co-op is to promote Affordable, Safe and Enjoyable recreational sailing.
      </p>

    </div>
    <div class="col-md-4">
      <p>As a co-op, it is possible to provide boats, equipment and sailing skill development at a fraction of the cost of any
        other sailing program you can find. The low cost, however, does require full participation of the members to make
        it succeed. All members are expected to contribute time for boat maintenance or helping with other activities toward
        our common goal.</p>
    </div>
  </div>
  <hr>
  <h2 class="text-center">Operations</h2>
  <div class="row">
    <div class="col-md-4 verticalLine" style="margin-left:100px">
      <p>To maintain our co-op interest and it's continuing success, an annual election is held in February to select the Commodore,
        First and Second Vice Commodores, Treasurer and Secretary.</p>

      <p>Meetings are held on the third Thursday of each month, except July, August and December. Meetings are held at the Rotary
        Field House in White Rock at 1930 hours. Annual dues are payable by February 1st each year. The Annual General Meeting
        is held at the February meeting.</p>
    </div>
    <div class="col-md-6">
      <img class="clubimg2" src="assets/images/club3.jpg">

    </div>

  </div>
</div>



<div>

</div>