<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
  <a class="navbar-brand" href="#">
    <img src="http://www.lmyc.ca/sites/all/themes/lmyc/images/logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/our-fleet']">Fleet</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/membership']">Membership</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rules-and-regulations']">Rules and Regulations</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/faq']">FAQ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
