<h1>Contact</h1>

<div>
  <form id="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" class="form-control" formControlName="phone">
    </div>
    <div class="form-group">
      <label for="subject">Subject</label><br>
      <input type="radio" name="gender" value="Membership"> Membership<br>
      <input type="radio" name="gender" value="Technical Support"> Technical Support<br>
      <input type="radio" name="gender" value="General Inquiries"> General Inquiries<br>
    </div>
    <div class="form-group">
      <label for="subject">Other</label><br>
      <textarea rows="4" cols="50" name="other" form="contactForm"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
  </form>
</div>
