<form #addressForm="ngForm" novalidate>
	<div>
		<h4 class="head text-center">{{title}}</h4>
		<br/>
		<div class='row'>
			<div class="form-group">
				<label class="control-label" for="street">Street</label>
				<input class="form-control input-md" #street="ngModel" required name="street" type="text" placeholder="Street" [(ngModel)]="address.street">
				<div class="alert alert-danger" [hidden]="street.valid">Street is required</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="city">City</label>
				<input class="form-control input-md" #city="ngModel" required name="city" type="text" placeholder="City" [(ngModel)]="address.city">
				<div class="alert alert-danger" [hidden]="city.valid">Cityis required</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="country">Country</label>
				<input class="form-control input-md" #country="ngModel" required name="country" type="text" placeholder="Country" [(ngModel)]="address.country">
				<div class="alert alert-danger" [hidden]="country.valid">Country is required</div>
			</div>

			<div class="form-group">
				<label class="control-label" for="country">Postal Code</label>
				<input class="form-control input-md" #postalCode="ngModel" required name="postalCode" type="text" placeholder="Postal Code" [(ngModel)]="address.postalCode">
				<div class="alert alert-danger" [hidden]="postalCode.valid">Country is required</div>
			</div>
		</div>
        <div class="row">
            <div class="form-group text-center">
                <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)"> Next</button>
            </div>        
        </div>
	</div>
</form>
