<div class="bg-no-overlay">
    <div>
        <h1>Our Fleet</h1>
    </div>
</div>

<div class="container">
    <h2>Our Current Fleet Consists of Three 1979 27 Foot C&C MK3, a 1983 25 Foot CAL 25 MK2, a 1996 Catalina 28 MK2 and a 1985
        27 Foot C&C MK5</h2>

    <p>All are normally moored off the end of the White Rock pier. During the summer, we station one of our boats at Lund, to
        accommodate those who wish to sail the relative wilderness of the Desolation Sound area.</p>

    <p>All our vessels are great all-around sailboats, with large cockpits, comfortable cabins, sleep at least 4 and are perfect
        for sailing in Semiahmoo Bay or cruising the Gulf Islands. All have required safety equipment, VHS marine radios,
        roller furling foresails, marine heads with holding tanks and many other amenities.</p>

    <p>Our priority is to keep the fleet in safe and seaworthy condition. Annual bottom painting and upgrades are usually accomplished
        at the beginning of each sailing season and the boats are maintained on an ongoing basis throughout the year by assigned
        teams of members. Sails, outboards, rigging, docking lines etc are replaced on an ongoing basis as needed.</p>

    <h2>OUR BOATS</h2>

    <ul>
        <li *ngFor="let boat of boats">
            <p>{{boat.boatName}}</p>
            <p>{{boat.boatStatus}}</p>
            <p>{{boat.boatDescription}}</p>
            <p>{{boat.boatLength}}</p>
            <p>{{boat.boatMake}}</p>
            <p>{{boat.boatYear}}</p>
            <p>{{boat.creditsPerHourOfUsage}}</p>
        </li>
    </ul>
</div>