<div class="bg-no-overlay">
	<div>
		<h1>Our Fleet</h1>
	</div>
</div>

<div class="container">

	<p>All are normally moored off the end of the White Rock pier. During the summer, we station one of our boats at Lund, to accommodate those who wish to sail the relative wilderness of the Desolation Sound area.</p>

	<p>All our vessels are great all-around sailboats, with large cockpits, comfortable cabins, sleep at least 4 and are perfect for sailing in Semiahmoo Bay or cruising the Gulf Islands. All have required safety equipment, VHS marine radios, roller furling
		foresails, marine heads with holding tanks and many other amenities.</p>

	<p>Our priority is to keep the fleet in safe and seaworthy condition. Annual bottom painting and upgrades are usually accomplished at the beginning of each sailing season and the boats are maintained on an ongoing basis throughout the year by assigned teams
		of members. Sails, outboards, rigging, docking lines etc are replaced on an ongoing basis as needed.</p>

	<hr>
	
	<div class="media" *ngFor="let boat of boats; let i=index">
		<img class="align-self-center img-thumbnail mr-3" src="data:image/jpg;base64,{{boat.boatPicture}}" size>
		<div class="media-body">
			<h3>{{boat.boatName}}</h3>
			<h5 class="text-muted">{{boat.boatMake}} - {{boat.boatYear}}</h5>
			<p>{{boat.boatDescription}}</p>
		</div>
	</div>

</div>
