<h1 mat-dialog-title>New Booking</h1>
<div mat-dialog-content>
    <label>
    Booking Date Time:
        <input 
            [(ngModel)]="dateRange"
            [min]="min"
            [max]="max"
            [owlDateTimeTrigger]="dt11" 
            [owlDateTime]="dt11" 
            [selectMode]="'range'"
            #dateTime="ngModel">
        <owl-date-time #dt11
            (afterPickerClosed)="afterPickerClosed()"></owl-date-time>
    </label>

    <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Non-Member Crews" [(ngModel)]="nonMemberCrews"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Itinerary" [(ngModel)]="Itinerary"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Member Crew" [formControl]="memberCrewControl" [(value)]="selected" multiple>
            <mat-optgroup *ngFor="let type of memberTypes" [label]="type.name" [disabled]="type.disabled" mutiple>
                <mat-option *ngFor="let user of type.user" [value]="user.value">
                    {{ user.viewValue }}
                </mat-option>
    
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <p>You selected: {{selected}}</p>

</div>
<div mat-dialog-actions>
    <button mat-button center (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>