<div class="bg-no-overlay">
    <div class="text-center">
        <h1>Welcome to {{ title }}!</h1>
        <h1>May, 1976 - The Start Of The Lower Mainland Yacht Co-Op</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Written in 2006 on the Club's 30th Anniversary</h2>

        <div class="col-md-6">
            <img src="assets/images/club4.jpg">
        </div>
        <div class="col-md-5 verticalLine">
            <p> In 1980 there were 30 members, still one boat. By 1984 there were 100 members and four boats. Recently, the group
                has grown to
                <strong>115</strong> sailing members.</p>
            <p> Through the years the fleet has grown to seven sailboats: three 26' Grampians, two 27' C; an Ericson 28+ and
                a 1983 Cal 25 MKII.</p>
            <img src="assets/images/club5.jpg">
        </div>
    </div>
</div>

<div class="bg-overlay">
    <div>
        <h3 class="text-center">Dreaming of sailing up to the Gulf Islands without the hassle of owning your own boat?</h3>
    </div>
</div>